<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tpadsz.after.dao80.OrderFromDao">

    <insert id="insertOrderFrom"
            parameterType="com.tpadsz.after.entity.OrderFrom">
        INSERT INTO
        tbk.f_tbk_order
        (trade_id,num_iid,adzone_id,site_id,uid,tk_status,create_time,earning_time,alipay_total_price,price,pay_price,item_num,total_commission_rate,total_commission_fee,action_type,seller_shop_title,item_title,update_time,status,order_type)
        VALUES
        (#{trade_id},#{num_iid},#{adzone_id},#{site_id},#{uid},#{tk_status},#{create_time},#{earning_time},#{alipay_total_price},#{price},#{pay_price},#{item_num},#{total_commission_rate},#{total_commission_fee},#{action_type},#{seller_shop_title},#{item_title},now(),#{status},#{order_type})
    </insert>

    <update id="updateOrderFrom"
            parameterType="com.tpadsz.after.entity.OrderFrom">
        UPDATE tbk.f_tbk_order
        SET num_iid=#{num_iid},adzone_id=#{adzone_id},site_id=#{site_id},tk_status=#{tk_status},create_time=#{create_time},earning_time=#{earning_time},alipay_total_price=#{alipay_total_price},price=#{price},pay_price=#{pay_price},item_num=#{item_num},total_commission_rate=#{total_commission_rate},total_commission_fee=#{total_commission_fee},seller_shop_title=#{seller_shop_title},item_title=#{item_title},update_time=now(),status=#{status},order_type=#{order_type}
        WHERE trade_id=#{trade_id}
    </update>

    <select id="findOrderFromById" parameterType="long" resultType="com.tpadsz.after.entity.OrderFrom">
        SELECT * FROM tbk.f_tbk_order WHERE trade_id=#{trade_id}
    </select>

    <select id="selectAllOrderFromByUid" parameterType="OrderFrom"
            resultType="com.tpadsz.after.entity.OrderFrom">
        SELECT * FROM tbk.f_tbk_order WHERE uid=#{uid} and earning_time>=DATE_SUB(CURDATE(), INTERVAL 3 MONTH) ORDER BY create_time DESC limit #{page}, #{size}
    </select>

    <select id="selectByUidWait" parameterType="OrderFrom"
            resultType="com.tpadsz.after.entity.OrderFrom">
        SELECT * FROM tbk.f_tbk_order WHERE uid=#{uid} and status =12 and earning_time>=DATE_SUB(CURDATE(), INTERVAL 3 MONTH) ORDER BY create_time DESC limit #{page}, #{size}
    </select>

    <select id="selectByUidLose" parameterType="OrderFrom"
            resultType="com.tpadsz.after.entity.OrderFrom">
        SELECT * FROM tbk.f_tbk_order WHERE uid=#{uid} and status=13 and earning_time>=DATE_SUB(CURDATE(), INTERVAL 3 MONTH) ORDER BY create_time DESC limit #{page}, #{size}
    </select>

    <select id="selectByUidDone" parameterType="OrderFrom"
                     resultType="com.tpadsz.after.entity.OrderFrom">
    SELECT * FROM tbk.f_tbk_order WHERE uid=#{uid} and status=3 and earning_time>=DATE_SUB(CURDATE(), INTERVAL 3 MONTH) ORDER BY create_time DESC limit #{page}, #{size}
</select>

    <select id="findShopImageByNumIid" parameterType="string" resultType="ShopInfo">
          SELECT * FROM tbk.f_tbk_shop WHERE num_iid=#{num_iid}
    </select>

    <select id="findShareLogByUidAndIid" parameterType="map" resultType="java.util.Date">
        SELECT
    	    touch_time
        FROM
        	tbk.f_hiprice_log
        WHERE
        	uid = #{uid}
        	AND num_iid = #{num_iid} AND goods_info!=NULL
        ORDER BY
        	touch_time DESC
        	LIMIT 1;
    </select>

    <insert id="insertOrderLog" parameterType="OrderFromLog">
        INSERT INTO tbk.f_tbk_order_log ( uid, page_num, status, create_time )
        VALUES
	        (#{uid},#{pageNum},#{status},now())
    </insert>
</mapper>