<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tpadsz.after.dao80.TbkBindDao">

    <select id="getPid" parameterType="string" resultType="Pid">
        SELECT
            p.pkey,
            p.pid,
            p.adzone_id
        FROM
            tbk.f_tbk_pid p
        INNER JOIN tbk.f_tbk_bind b ON p.pkey = b.pkey
        AND last_bind_uid = #{uid}
        ORDER BY
            bind_date DESC LIMIT 1
    </select>

    <insert id="bindPid" parameterType="map">
        <selectKey keyProperty="count" resultType="int" order="BEFORE">
            select count(*) from tbk.f_tbk_bind where pkey = #{pkey}
        </selectKey>
        <if test="count > 0">
            UPDATE tbk.f_tbk_bind set last_bind_uid =#{uid},bind_date=NOW() WHERE pkey=#{pkey}
        </if>
        <if test="count==0">
            INSERT INTO tbk.f_tbk_bind VALUES(#{pkey},#{uid},NOW(),#{uid})
        </if>
    </insert>

    <insert id="insertBindLog" parameterType="map">
        INSERT INTO tbk.f_bind_log (
            uid,
            pkey,
            bind_cahnge_date,
            change_type
        )
        VALUES
            (#{uid},#{pkey},NOW(),#{is_used})
    </insert>

    <insert id="insetShop" parameterType="ShopInfo">
       REPLACE INTO tbk.f_tbk_shop VALUES (
          #{num_iid},#{user_type},#{zk_final_price},
          #{coupon_info},#{qh_final_price},#{pict_url},
          #{commission_rate},#{rate_touid},NOW())
    </insert>

    <insert id="insetShare" parameterType="ShopInfo">
        INSERT INTO tbk.f_tbk_share_log(uid,num_iid,pkey,share_date) VALUES (#{uid},#{num_iid}, #{pkey},NOW())
    </insert>

    <insert id="insertHiPriceLog" parameterType="map">
        INSERT INTO tbk.f_hiprice_log (
            uid,
            num_iid,
            goods_info,
            result_info,
            touch_time
        )
        VALUES (#{uid},#{num_iid},#{goods_info},#{result_info},NOW())
  </insert>

    <select id="getPidInfo" resultType="Pid">
        SELECT pkey,pid,adzone_id FROM tbk.f_tbk_pid WHERE is_used=0 ORDER BY pkey LIMIT 1
    </select>

    <update id="updatePid" parameterType="map">
        UPDATE tbk.f_tbk_pid set is_used =#{is_used} WHERE adzone_id=#{adzone_id}
        <!--<choose>-->
        <!--<when test="adzone_id!=null">-->
        <!--UPDATE tbk.f_tbk_pid set is_used =#{is_used} WHERE adzone_id=#{adzone_id}-->
        <!--</when>-->
        <!--<otherwise>-->
        <!--UPDATE tbk.f_tbk_pid SET is_used=#{is_used} WHERE pkey in(-->
        <!--SELECT pkey FROM tbk.f_tbk_bind WHERE last_bind_uid=#{uid}-->
        <!--)-->
        <!--</otherwise>-->
        <!--</choose>-->
    </update>


</mapper>