<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tpadsz.after.dao.PairingDao">

    <resultMap type="LightActive" id="lightActiveMap">
        <id property="deviceId" column="device_id" javaType="String" jdbcType="VARCHAR"/>
        <result property="model" column="model" javaType="String" jdbcType="VARCHAR"/>
        <result property="name" column="name" javaType="String" jdbcType="VARCHAR"/>
        <result property="mac" column="mac" javaType="String" jdbcType="VARCHAR"/>
        <result property="version" column="version" javaType="String" jdbcType="VARCHAR"/>
        <result property="channel" column="channel" javaType="String" jdbcType="VARCHAR"/>
        <result property="other" column="other" javaType="String" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap type="LightPairing" id="lightPairingMap">
        <id property="lightUid" column="light_uid" javaType="String" jdbcType="VARCHAR"/>
        <result property="name" column="name" javaType="String" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" javaType="Date" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" javaType="Date" jdbcType="TIMESTAMP"/>
        <result property="other" column="other" javaType="String" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap type="LightBinding" id="lightBindingMap">
        <id property="deviceId" column="device_id" javaType="String" jdbcType="VARCHAR"/>
        <result property="mac" column="mac" javaType="String" jdbcType="VARCHAR"/>
        <result property="lightUid" column="light_uid" javaType="String" jdbcType="VARCHAR"/>
        <result property="bossUid" column="boss_uid" javaType="String" jdbcType="VARCHAR"/>
        <result property="other" column="other" javaType="String" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="active_columns">
        device_id, model, name, mac, version, channel, other
    </sql>

    <sql id="pairing_log_columns">
        id, light_uid, is_login, device_id, firmware, result,access_time, other
    </sql>

    <select id="findActiveInfoByMacAddress" resultMap="lightActiveMap">
        SELECT * FROM light.f_light_active WHERE mac = #{mac}
    </select>

    <insert id="saveActiveInfo" parameterType="LightActive">
        insert into light.f_light_active(<include refid="active_columns"/>) values(#{deviceId}, #{model}, #{name}, #{mac},
        #{version},#{channel}, #{other});
    </insert>

    <select id="findPairingInfoByLightUid" resultMap="lightPairingMap">
        SELECT * FROM light.f_light_pairing WHERE light_uid = #{lightUid}
    </select>

    <insert id="savePairingInfo" parameterType="String">
        insert into light.f_light_pairing(light_uid,name,create_time) values(#{lightUid}, #{name}, NOW());
    </insert>

    <update id="updatePairingInfo" parameterType="String">
        update light.f_light_pairing set name = #{deviceIds} where light_uid=#{lightUid}
    </update>

    <select id="findBindingInfoByDeviceId" resultMap="lightBindingMap">
        SELECT * FROM light.f_light_binding WHERE device_id = #{deviceId}
    </select>

    <insert id="saveBindingInfo" parameterType="LightBinding">
        insert into light.f_light_binding(device_id,mac,light_uid) values(#{deviceId}, #{mac}, #{lightUid});
    </insert>

    <update id="updateBindingInfo" parameterType="String">
        update light.f_light_binding set light_uid = #{lightUid}, boss_uid = NULL where device_id=#{deviceId}
    </update>

    <update id="deleteBindingInfo" parameterType="String">
        update light.f_light_binding set light_uid = NULL, boss_uid = NULL where device_id=#{deviceId}
    </update>

    <insert id="savePairingLog" parameterType="PairingLog">
        insert into light.f_light_pairing_log(<include refid="pairing_log_columns"/>) values(#{id}, #{lightUid}, #{isLogin}, #{deviceId}, #{firmware}, #{result}, #{accessTime}, #{other});
    </insert>
</mapper>