<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tpadsz.after.dao.RecordBillDao">

    <select id="getByDeviceId" parameterType="string" resultType="map">
       SELECT device_id deviceId,light_uid lightUid,boss_uid bossUid  FROM f_light_binding WHERE device_id=#{deviceId}
    </select>

    <select id="getByLightUid" parameterType="string" resultType="map">
        SELECT isRegister is_register,device_id FROM f_light_operation_log WHERE uid=#{uid} LIMIT 1
    </select>

    <insert id="insetBill" parameterType="map">
        REPLACE INTO f_light_charge(uid,electric_bill,log_time,create_time) VALUES(#{uid},100,CURDATE(),NOW())
    </insert>

    <select id="getChargeList" parameterType="string" resultType="map">
       SELECT electric_bill,log_time FROM f_light_charge WHERE uid=#{uid} AND DATEDIFF(CURDATE(),log_time)>=1 ORDER BY log_time DESC LIMIT 7
    </select>

    <select id="getSumCharge" parameterType="string" resultType="map">
       SELECT SUM(electric_bill) total_bill,electric_bill ytd_charge FROM f_light_charge WHERE uid=#{uid} AND DATEDIFF(CURDATE(),log_time)>=1
    </select>
</mapper>